<meta charset="UTF-8">
<footer th:fragment="pie-pagina" class="piedepagina p-y-1" role="contentinfo">
	<div class="container">
		
		<ul class="redes-sociales">
			<li><a
				href="https://es-la.facebook.com/pg/villalpandojoyas/posts/"><i
					class="fa fa-facebook" aria-hidden="true"> </i> </a></li>
			<li><a href="https://twitter.com/g_dvillalpando"><i
					class="fa fa-twitter" aria-hidden="true"></i> </a></li>
			<li><a
				href="https://www.youtube.com/channel/UCHqnEWmDsJ6jYW_7ilhroRA"><i
					class="fa fa-youtube" aria-hidden="true"></i> </a></li>
		</ul>
		
		<p>2020 © JCAH Todos los derechos reservados</p>

	</div>

</footer>